
<footer class="text-center text-lg-start  text-muted p-0" style="background-color: rgb(244, 236, 236);">
    
    <!-- Section: Links  -->
    <section class="bg-warning">
        <div class="container text-center text-md-start  ">
            <!-- Grid row -->
            <div class="row mt-3" style="padding-top: 3rem; color: black; ">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <img style="width: 100%; height: 250px;" src="/Images/footerimg.jpg" alt="">
                    
                    <!-- <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Education Mster System
                    </h6>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis dignissimos quaerat amet
                        ipsum enim laborum molestiae. Consequuntur odio cumque deleniti perferendis, in atque nisi
                        vel, enim fuga iure impedit! Vel?
                    </p> -->
                </div>


                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="/login" class="text-reset">Create Blogs</a>
                    </p>
                    <p>
                        <a href="/blog" class="text-reset">Read Blogs</a>
                    </p>
                    <p>
                        <a href="/about" class="text-reset">About US</a>
                    </p>
                    <p>
                        <a href="/contact" class="text-reset">Contact Us</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
                    <p><i class="fas fa-home me-3"></i> India, madhya Pradesh</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        som711verma@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i>7247461612</p>
                    
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom bg-secondary " style="background-color: black;">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span class="text-white " style="font-weight: 500; font-size: 1.2rem;">Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
    
        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fa-brands fa-square-facebook" style="color: blue; font-size: 1.5rem;"></i>
            </a>
            <a href="https://www.instagram.com/somverma711/?utm_source=qr&igshid=NGExMmI2YTkyZg%3D%3D" class="me-4 text-reset">
                <i class="fa-brands fa-instagram text-warning" style="color: rgb(255, 0, 204); font-size: 1.5rem;"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fa-brands fa-google" style="color: red; font-size: 1.5rem;"></i>
            </a>
            <a href="https://www.linkedin.com/in/som-verma-1094a324b" class="me-4 text-reset">
                <i class="fab fa-linkedin text-black" style="color: black; font-size: 1.5rem;"></i>
            </a>

        </div>
        <!-- Right -->
         
    </section>
    <!-- Section: Social media -->
     <!-- Copyright -->
     <div class="text-center p-4  text-white bg-secondary" style="background-color: black; margin-top: -1rem;">
        © 2023 Copyright:
     <span class="text-warning h5">Design & Developed by S.K.V.</span>
    
    </div>
    <!-- Copyright -->
</footer>
    
</body>
</html>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>