<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="favicon.ico" />

    <title>Blogger</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav
      class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary"
      style="background-color: #b3b3b3"
    >
      <div class="container-fluid">
        <!-- <a
          href="/"
          class="navbar-brand weblogo text-warning"
          style="font-size: 1.5rem; font-weight: 700"
        >
          Blogger
        </a> -->
        <a href="/">
          <img style="width: 100%; height: 75px" src="Images/L1.jpg" alt=""
        /></a>
        <!--mobile view-->
        <button
          class="navbar-toggler"
          data-bs-target="#a"
          data-bs-toggle="collapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--menu-->
        <div class="navbar-collapse collapse" id="a">
          <ul class="navbar-nav ms-auto">
            <li>
              <a
                href="/"
                class="nav-link"
                style="font-weight: 500; font-size: 20px"
                >Home</a
              >
            </li>
            <li>
              <a
                href="/about"
                class="nav-link"
                style="font-weight: 500; font-size: 20px"
                >About</a
              >
            </li>
            <li>
              <a
                href="/contact"
                class="nav-link"
                style="font-weight: 500; font-size: 20px"
                >Contact</a
              >
            </li>
            <li>
              <a
                href="/blog"
                class="nav-link"
                style="font-weight: 500; font-size: 20px"
                >Blog</a
              >
            </li>
            <li>
              <a
                href="/login"
                class="nav-link"
                style="font-weight: 500; font-size: 20px"
                >Create Your Blog</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!--container end-->
    </nav>
  </body>
</html>
